<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="form-group">
  <label for="first_name" class="form-control">Number</label>
  &nbsp;
  <input type="number" class="form-control" placeholder="Enter the Number" #number>
</div>
&nbsp; &nbsp;
<div>
  <input type="submit" (click)="getNumber(number.value)">
</div>

<div>
  <h1>Table of response from Node js</h1>
  <table style="width:100%">
    <tr>
      <th>Word</th>
      <th>Frequency</th>
    </tr>
    <tr *ngFor="let data of responsedData">
      <td>{{data.name}}</td>
      <td>{{data.total}}</td>
    </tr>

  </table>
</div>